// 전역 스타일 설정
@use 'utils/variables' as *;
@use 'utils/mixins' as *;

// reset
@use 'base/reset' as *;
@use 'base/intro' as *;
@use 'base/home' as *;
@use 'base/movie' as *;
@use 'base/detail' as *;
@use 'base/search' as *;

// Swiper styles
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use 'swiper/css/effect-coverflow';

html,
body {
  position: relative;
  font-family: var(--font-pretendard); font-size: 10px; font-weight: 400; line-height: 1.4;
}

.wrap {
  position: relative;
  margin: 0 auto;
  width: 100%; max-width: 720px;
  box-shadow: 0 0 2rem rgba(0,0,0,0.1); overflow: hidden;
  font-size: 1.6rem; color: #222;
  .contents {
    width: 100%; min-height: 100vh; padding: 10rem 0;
  }

  .not-found {
    display: flex; justify-content: center; align-items: center;
    padding-bottom: 30rem;
    .not_big404{
      font-size: 24rem; text-align: center; font-weight: 900;
    }
    .not {
      &_btn-wrap {
        z-index: 999; position: fixed; bottom: 0; width: 72rem;
        padding: 1.6rem; background: #fff; 
      }
      &_btn {
        display: block;
        width: 100%; padding: 2.4rem; border-radius: 1rem; background: #000; 
        font-size: var(--text-size-md); color: #fff; text-align: center;
      }
    }
  }
}

img {
  width: 100%;
}

.inner {padding: 0 3.2rem;}

.subtitle {
  margin-bottom: .8rem;
  font-size: var(--text-size-xs); font-weight: 800; font-style: italic;
}

.title {
  margin-bottom: 3.6rem;
  font-size: var(--text-size-lg);
}

@media all and (max-width: 720px) {

  html,
  body {
    font-size: calc(100vw * 10/720);
  }
}