:root {
  /* Color */
  --color-gray: #ADB2CB;
  --color-gray-white: #f4f4f4;
  --color-black: #000;
  --color-point: #02A5AC;
  --color-transparent: #fff0;
  --color-white: #fff;

  // Dimensions
  --text-size-xl: 4.8rem;
  --text-size-lg: 4.4rem;
  --text-size-md: 3.6rem;
  --text-size-sm: 3rem;
  --text-size-xs: 2.8rem;

  // 
  --fg-default: var(--gray-14);
  --fg-orange-subtle: var(--orange-68);
  --fg-orange: var(--orange-58);
  --fg-blue-subtle: var(--blue-58);
  --fg-blue: var(--blue-48);
  --fg-disabled: var(--black-alpha-78);
  --fg-inverse: var(--gray-100);
  --fg-brand: var(--red-48);
  --fg-subtlest: var(--black-alpha-68);
  --fg-subtle: var(--black-alpha-28);
  --border-default: var(--black-alpha-78);
  --border-orange-stronger: var(--orange-58);
  --border-blue-stronger: var(--blue-48);
  --border-disabled: var(--black-alpha-91);
  --border-input: var(--black-alpha-78);
  --border-inverse-stronger: var(--white-alpha-78);
  --border-brand-stronger: var(--red-48);
  --border-stronger: var(--black-alpha-18);
  --fill-orange-subtler: var(--orange-alpha-10p);
  --fill-orange: var(--orange-58);
  --fill-blue-subtler: var(--blue-alpha-10p);
  --fill-blue: var(--blue-48);
  --fill-disabled: var(--black-alpha-96);
  --fill-input: var(--gray-100);
  --fill-inverse: var(--gray-100);
  --fill-inverse-hovered: var(--white-alpha-78);
  --fill-inverse-pressed: var(--white-alpha-68);
  --fill-inverse-subtlest: var(--white-alpha-07);
  --fill-inverse-subtlest-hovered: var(--white-alpha-10);
  --fill-inverse-subtlest-pressed: var(--white-alpha-18);
  --fill-subtlest: var(--black-alpha-98);
  --fill-subtlest-hovered: var(--black-alpha-94);
  --fill-subtlest-pressed: var(--black-alpha-88);
  --fill-subtler: var(--black-alpha-94);
  --fill-subtler-hovered: var(--black-alpha-88);
  --fill-subtler-pressed: var(--black-alpha-78);
  --fill-transparent: var(--transparent);
  --fill-transparent-hovered: var(--black-alpha-96);
  --fill-transparent-pressed: var(--black-alpha-94);
  --fill-default: var(--gray-10);
  --fill-default-hovered: var(--gray-18);
  --fill-default-pressed: var(--gray-28);
  --fill-brand: var(--red-48);
  --fill-brand-hovered: var(--red-58);
  --fill-brand-pressed: var(--red-38);
  --etc-dim: var(--black-alpha-48);
  --etc-skeleton: var(--black-alpha-94);
  --etc-skeleton-subtle: var(--black-alpha-96);
  --etc-link: var(--blue-38);
  --etc-link-hovered: var(--blue-28);
  --bg-default: var(--gray-100);
  --bg-overlay: var(--gray-100);
  --fg-brand-subtle: var(--red-58);
  --fill-brand-subtler: var(--red-alpha-10p);
  --fill-brand-subtler-hovered: var(--red-alpha-20p);
  --fill-brand-subtler-pressed: var(--red-alpha-30p);
  --fill-inverse-subtler: var(--white-alpha-18);
  --fill-inverse-subtler-hovered: var(--white-alpha-28);
  --fill-inverse-subtler-pressed: var(--white-alpha-38);
  --border-inverse-default: var(--white-alpha-28);
  --bg-inverse: var(--gray-07);
  --bg-raised: var(--gray-100);
  --bg-alt-01: var(--gray-98);
  --border-brand-default: var(--red-alpha-50p);
  --fg-subtler: var(--black-alpha-48);
  --border-orange-default: var(--orange-alpha-50p);
  --border-blue-default: var(--blue-alpha-50p);
  --border-subtle: var(--black-alpha-88);
  --border-subtlest: var(--black-alpha-94);
  --border-input-hovered: var(--black-alpha-68);
  --border-input-focused: var(--border-stronger);
  --fill-static-white: var(--gray-100);
  --fg-static-black: var(--gray-14);
  --fg-static-white: var(--gray-100);
  --border-static-white-stronger: var(--white-alpha-78);
  --fill-static-black: var(--gray-10);
  --border-static-black-stronger: var(--black-alpha-18);
  --fg-inverse-disabled: var(--white-alpha-28);
  --border-inverse-disabled: var(--white-alpha-14);
  --fill-inverse-disabled: var(--white-alpha-14);
  --fg-inverse-subtle: var(--white-alpha-78);
  --fg-inverse-subtler: var(--white-alpha-58);
  --fg-inverse-subtlest: var(--white-alpha-38);
  --border-inverse-subtle: var(--white-alpha-18);
  --border-inverse-input: var(--white-alpha-28);
  --border-inverse-input-hovered: var(--white-alpha-38);
  --border-inverse-input-focused: var(--border-inverse-stronger);
  --fill-inverse-transparent: var(--transparent);
  --fill-inverse-transparent-pressed: var(--white-alpha-18);
  --fill-inverse-transparent-hovered: var(--white-alpha-10);
  --fill-inverse-input: var(--transparent);
  --bg-inverse-raised: var(--gray-10);
  --bg-inverse-overlay: var(--gray-14);
  --etc-skeleton-inverse: var(--white-alpha-14);
  --etc-link-inverse-hovered: var(--blue-68);
  --etc-link-inverse: var(--blue-58);
  --etc-skeleton-inverse-subtle: var(--white-alpha-10);
  --etc-dim-inverse: var(--white-alpha-38);
}